<?xml version="1.0" encoding="UTF-8"?>
<Context path="/DerbyTomcat">

    <Resource name="jdbc/test"
              auth="Container"
              type="javax.sql.DataSource"
              driverClassName="com.mysql.jdbc.Driver"
              url="jdbc:mysql://localhost:3306/udemycourse"
              username="root"
              password="1234"
              maxActive="10"
              maxIdle="2"
    />


</Context>